<div class="flex gap-3 h-full p-5">
  <div class="flex flex-col p-3 w-full gap-3">
    <div class="flex justify-between items-center">
      <mat-form-field class="max-w-[500px]" appearance="outline" subscriptSizing="dynamic">
        <mat-label>search</mat-label>
        <input matInput #search (input)="findRecipe(search.value)">
      </mat-form-field>
      <button mat-stroked-button (click)="addRecipe()">add recipe</button>
    </div>
    @if (isLoading()) {
      <div class="flex flex-grow items-center justify-center bg-blend-color">
        <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
      </div>
    } @else {
      <div class="grid grid-cols-1 gap-2 desktop:grid-cols-3">
        @for (recipe of recipes(); track recipe.id) {
          <app-recipe-item [recipe]="recipe" (recipeForDeleteId)="removeRecipe($event)"/>
        }
      </div>
    }
  </div>
</div>


