<mat-card appearance="outlined" class="max-w-[500px]">
  <mat-card-content>
    <div class="grid grid-cols-1 desktop:grid-cols-2 gap-2">
      <div class="flex flex-col items-center justify-center gap-2 text-center">
        If you don't have an account,
        <button mat-button routerLink="/signup">register</button>
      </div>
      <form [formGroup]="signInForm" class="flex flex-col gap-3 items-stretch" (submit)="onSubmit($event)">
        @for (control of formControls | keyvalue; track $index) {
          <mat-form-field appearance="outline">
            <mat-label>{{ control.key }}</mat-label>
            <!--            todo: replace with @let when it will be released, don't try to move suffix in the first @if-->
            @if (control.key === 'password') {
              <input matInput [type]="passwordHide() ? 'password' : 'text'" [formControlName]="control.key"/>
            } @else {
              <input matInput type="email" [formControlName]="control.key">
            }
            @if (control.key === 'password') {
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="onHideClick($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="passwordHide()"
              >
                <mat-icon>{{ passwordHide() ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            }
            @for (error of control.value.errors | keyvalue; track $index; let first = $first) {
              <mat-error>{{ error.key | formErrors:error.value }}</mat-error>
            }
          </mat-form-field>
        }
        <button mat-flat-button class="self-center">log in</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
